.card-link {
    text-decoration: none;
    color: inherit;
}

.pokemon-card {
    background: rgba(247, 247, 249, 1);
    border-radius: 12px;
    padding: 0.75rem;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    cursor: pointer;
    aspect-ratio: 1/1;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 267.29px;
    
}

.pokemon-card:hover {
    transform: translateY(-3px);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 6px;
}

.remove-icon-btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.remove-icon-btn:hover{
    border: 1px solid var(--textColor);
}

.pokemon-id {
    font-size: 22px;
    color: var(--textColor);
    font-family: "Roboto", sans-serif;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: 0;
    align-self:first baseline;
    margin: 0;    
}

.pokemon-image {
    width: 100%;
    height: 150px;
    flex: 1 1 auto;
    object-fit: contain;
    image-rendering: pixelated;
}

.pokemon-name {
    font-size: 22px;
    color: var(--textColor);
    text-transform: capitalize;
    margin: 0;
}
