.pokemon-details-card{
    width: 844px;
    min-height: 342px;
    background: var(--detailsCardBg);
    border: 1px solid var(--detailsCardBorder);
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
    font-family: "Arial", sans-serif;
    margin-top: 20px;
    margin-left: 70px
}

.details-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin: 0;
}

.pokemon-id{
    color: var(--textColor);
    margin: 0;

}

.favorite-icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.details-content{
    display: flex;
    gap: 30px;
}

.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 337px;
}

.image-wrapper{
    width: 337px;
    height: 250px;
    overflow: hidden;
}

.details-image{
    width: 337px;
    height: 291px;
    
    width: 100%;
    margin-left: 0;
    object-fit: cover;
    object-position: center;
    image-rendering: pixelated;
    object-fit: contain;
}

.details-name{
    font-size: 32px;
    line-height: 100%;
    color: var(--textColor);
    font-family: "Roboto", sans-serif;
    margin: 3px;
}

.types-row{
    display: flex;
    gap: 10px;
    margin-top: 5px;;
}

.type-badge{
    padding: 4px 12px;
    border-radius: 9px;
    color: var(--white);
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    width: 100px;
    height: 35px;
    font-family: "Roboto", sans-serif;
}

.normal {background: (var(--normalBadgeBg));}
.water {background: var(--waterBadgeBg);}
.fire {background: var(--fireBadgeBg);}
.electric {background: var(--electricBadgeBg);}
.grass {background: var(--grassBadgeBg);}
.ice {background: var(--iceBadgeBg);}
.fighting {background: var(--fightingBadgeBg);}
.poison {background: var(--poisonBadgeBg);}
.ground {background: var(--groundBadgeBg);}
.flying {background: var(--flyingBadgeBg);}
.psychic {background: var(--psychicBadgeBg);}
.bug {background: var(--bugBadgeBg);}
.rock {background: var(--rockBadgeBg);}
.ghost {background: var(--ghostBadgeBg);}
.dragon {background: var(--dragonBadgeBg);}
.dark {background: var(--darkBadgeBg);}
.steel {background: var(--steelBadgeBg);}
.fairy {background: var(--fairyBadgeBg);}

.vertical-divider{
    width: 1px;
    background-color: var(--detailsDividerBg);
    margin: 0 10px;
}

.right-side{
    flex: 1;
}

.right-side h3{
    margin-bottom: 8px;
    color: var(--textColor);
}

.description-text{
    margin-bottom: 20px;
    max-width: 450px;
    line-height: 1.4;
    color: var(--headerBg);
}
.stats-title{
    margin-top: 100px;
}

.stats-grid {
    margin-top: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    font-size: 18px;
    color: #020166;
    font-family: "Roboto", sans-serif;
}

.stats-single{
    margin: 2px;
}
.horizontal-divider{
    display: none;
}


@media (max-width: 768px) {
    .pokemon-details-card{
        width: 95%;
        margin-left: 0;
        margin-top: 10px;
        padding: 15px;
        box-sizing: border-box;
        text-align: center;
    }
    .details-content{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .left-side, .image-wrapper{
        width: 100%;
    }
    .description-title{
        margin-top: 0;
    }
    .description-text{
        margin: 0;
    }
    .stats-title{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .stats-grid {
        margin: 0;
        grid-template-columns: 1fr;
        display: inline-block;
    }
    .vertical-divider{
        display: none;
    }
    .horizontal-divider{
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--detailsDividerBg);
        margin: 15px 0;
    }
}
